<div class="content-block dx-card responsive-paddings">
  <div class="content-block dx-card responsive-paddings">
    <img class="image"/>
    <input type="file" title="Upload image" (change)="changeListner($event)"/>
  </div>
  <dx-form id="form"
           [formData]="employee"
           labelLocation="top"

           [colCountByScreen]="colCountByScreen"
  >
    <dxi-item
      itemType="group"
      [colCount]="1">
      <dxi-item dataField="firstName"/>
      <dxi-item dataField="lastName"/>
      <dxi-item dataField="position"/>
      <dxi-item dataField="phone"/>
    </dxi-item>
  </dx-form>
  Select Manager
  <dx-select-box
    [items]="employees"
    [displayExpr]="displayManagerName"
    placeholder="Choose Manager"
    [showClearButton]="true"
    (onValueChanged)="managerSelectionChanged($event)"

  ></dx-select-box>
  <dx-button text="Save" (onClick)="saveNewUser()"></dx-button>
</div>

